ray
wandb
mlxu
func_timeout
smart_open[gcs]
transformers
-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]==0.4.10
optax
git+https://github.com/deepmind/dm-haiku
flax==0.6.8
tensorflow==2.9.2
praxis
# git+https://github.com/xiaoda99/praxis.git@xd/dev
git+https://github.com/google/orbax/#subdirectory=checkpoint